body {
    box-sizing: border-box;
}

#mypic {
    background: url(../images/humvee.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


